/* General styling */
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

h1 {
  font-style: italic;
}

.camView {
  position: relative;
  width: 100%;
  margin: 0;
    display: flex; /* Make it a flex container */
  justify-content: center; /* Center horizontally */
}

video {
  display: block;
    /* Removed width: 100%; */
  height: auto;
    max-width: 100%;  /* Add this to make it responsive */
    max-height: 80vh; /* Adjust as needed */

}


/* Text Styling */
p {
  font-size: 18px;
  line-height: 1.6;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

#liveView p {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin: 0;
  position: absolute;
}

/* Adjusting the appearance of the bounding box text */
#liveView p {
  font-size: 20px; /* Increase the font size for bounding box text */
}

/* Button hover effect */
.btn:hover {
  opacity: 0.8; /* Slightly dim on hover */
}

#capturedImageContainer {
    margin-top: 20px; /* Add some space above the captured image */
}

#capturedImage {
    max-width: 100%; /* Ensure the image fits within its container */
    height: auto;    /* Maintain aspect ratio */
    border: 2px solid white; /* Optional: Add a border */

}
